<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="author" content="Your Name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - MonoMuse</title>
</head>
<body onload="addYear(); ActiveNav();">
    <div class="container">
        <header class="header">
            <h1>Checkout</h1>
        </header>
        <nav id="navBar" class="nav_bar">
            <div id="navLinks" class="nav-links"></div>
                <a href="../index.html">Home</a>
                <a href="explore.html">Explore</a>
                <a href="exhibitions.html">Exhibitions</a>
                <a href="views/buytickets.html">Buy Tickets</a>
                <a id="navselected" href="checkout.html">Checkout</a>
            </div>
            <div class="hburger" onclick="toggleMenu(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </nav>

        <main class=”main>
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br><br>

                <label for="quantity">Ticket Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" required>
                <br><br>

                <input type="submit" value="Submit">
            </form>
        </main>
        <figure class="main_figure"></figure>
        <footer class="footer"></footer>
            <p id="copyYear">© 2026 MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>